<%= nested_form_for @cricket_team do |f| %>
  <% if @cricket_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cricket_team.errors.count, "error") %> prohibited this cricket_team from being saved:</h2>

      <ul>
      <% @cricket_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <%= f.fields_for :players do |player| %>
    <%= player.text_field :name %><br>
    <%= player.text_area :content %>
    <%= player.link_to_remove "Remove this player" %>
  <% end %>

  <p><%= f.link_to_add "Add a player", :players %></p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
