<h1>Listing cricket_teams</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Content</th>
      <th>Player name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cricket_teams.each_with_index do |cricket_team, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= cricket_team.title %></td>
        <td><%= cricket_team.content %></td>
        <td><%= cricket_team.player_name %></td>
        <td><%= link_to 'Edit', edit_cricket_team_path(cricket_team) %></td>
        <td><%= link_to 'Destroy', cricket_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cricket team', new_cricket_team_path %>
