<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cricket_team.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @cricket_team.content %>
</p>

<%= link_to 'Back', cricket_teams_path %>
